<script type="text/javascript">
  const lazy = new IntersectionObserver((entries) => {
    const loaded = (entry) => {
      entry.target.style.opacity = "1";
    };

    entries.forEach((entry) => {
      if (!entry.isIntersecting) return;

      if (entry.target.complete) {
        loaded(entry);
      } else {
        entry.target.addEventListener("load", loaded);
      }

      lazy.unobserve(entry.target);
    });
  });

  window.onload = () => {
    images = document.querySelectorAll("img.lazy");

    images.forEach((image) => {
      lazy.observe(image);
    });
  };
</script>
